.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .content-container {
    display: flex;
    flex-direction: column;
    width: 800px;

    .featured-image-wrapper {
      img {
        margin: 15px 0px;
        width: 100%;
        height: 350px;
        border-radius: 5px;
        object-fit: cover;
      }
    }
  }
}
