.content-page-wrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 84px);

  .right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
  }
}
